@charset "UTF-8";
@import url("./layout/normalize.css");
@import url("./layout/fonts.css");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html, body {
  height: 100%;
}

body {
  line-height: 1.42;
  font-family: "Alegreya Sans", "Open Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.body--scroll--off {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.hero {
  background: url("../images/pattern.png") right bottom no-repeat;
  background-color: #61C4D9;
  height: 100vh;
  min-height: 650px;
  color: #fff;
  padding: 1.3333333333rem 0 2.5rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 89%;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background-position: right bottom 74%;
    background-size: 310px 380px;
    min-height: 0;
  }
}
.hero::before {
  content: "";
  background-image: url("../images/left-leaf.png");
  width: 3.2777777778rem;
  height: 6.2222222222rem;
  position: absolute;
  top: 95%;
  left: 2%;
}
@media screen and (max-width: 768px) {
  .hero::before {
    width: 2.1666666667rem;
    height: 4.2222222222rem;
    background-size: cover;
    top: 45%;
    left: 27%;
    z-index: 1;
  }
}
@media screen and (max-width: 480px) {
  .hero::before {
    top: 45%;
    left: 8%;
  }
}
.hero::after {
  content: "";
  background-image: url("../images/berries-and-leafs.png");
  position: absolute;
  top: 77%;
  right: 0;
}
@media screen and (max-width: 768px) {
  .hero::after {
    width: 18.8888888889rem;
    height: 14rem;
    background-size: cover;
    display: block;
    top: 37%;
    right: 24%;
    z-index: 1;
  }
}
@media screen and (max-width: 480px) {
  .hero::after {
    top: 33%;
    right: 5%;
    width: 16.2777777778rem;
    height: 12.0555555556rem;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero__title-section {
  width: 79%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.22;
  font-weight: 700;
  margin-bottom: 1%;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    z-index: 2;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 1.3333333333rem;
    line-height: 1;
    margin-top: -5%;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 8%;
  line-height: 1.3;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 26%;
    margin-bottom: 4%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 5%;
    font-size: 1rem;
    margin-bottom: 9%;
  }
}

.hero__columns {
  display: flex;
}
@media screen and (max-width: 768px) {
  .hero__columns {
    flex: 1;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .hero__columns {
    margin-top: -5%;
  }
}

.hero__col {
  flex: 1;
}
@media screen and (max-width: 768px) {
  .hero__col {
    flex: 0;
  }
  .hero__col:last-child {
    margin-bottom: 4%;
  }
  .hero__col:first-child {
    z-index: 2;
  }
}
@media screen and (max-width: 480px) {
  .hero__col:last-child {
    margin-left: -4%;
  }
}

.hero__col + .hero__col img {
  min-width: 27.9444444444rem;
  height: 29.0555555556rem;
  margin-top: -14%;
}
@media screen and (max-width: 768px) {
  .hero__col + .hero__col img {
    margin: 0 auto;
    min-width: 20.1666666667rem;
    height: 20.8888888889rem;
    top: 50%;
    z-index: -1;
  }
}
@media screen and (max-width: 480px) {
  .hero__col + .hero__col img {
    margin-bottom: 5%;
    min-width: 19.1666666667rem;
    height: 19.8333333333rem;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0 1rem;
  }
}

.phone-number.header__phone-number {
  transition: 0.2s;
  opacity: 0.8;
}
.phone-number.header__phone-number:hover {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number.header__phone-number:hover {
  opacity: 1;
}
.phone-number.header__phone-number:hover .phone-number__icon-elem {
  fill: #000;
}

.menu {
  margin: 0 30px;
  padding-top: 0.5rem;
  flex: 1;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu--active {
    display: flex;
    justify-content: center;
    z-index: 1001;
    font-size: 5vmin;
    margin: 14% -5% 0 0;
    transition: all 0.4s;
  }
}
@media screen and (max-width: 480px) {
  .menu--active {
    display: flex;
    justify-content: center;
    z-index: 1001;
    font-size: 8vmin;
    margin: 27% -5% 0 0;
    transition: all 0.4s;
  }
}

.menu__list {
  transition: all 0.4s;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .menu__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.menu__item {
  margin-right: 4.2%;
  margin-bottom: 1%;
  transition: 0.2s;
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .menu__item {
    margin-bottom: 7%;
    margin-right: 0;
  }
}
.menu__item:hover {
  opacity: 1;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  white-space: nowrap;
}

.phone-number {
  font-size: 1.3333333333rem;
  display: flex;
  align-items: center;
  min-width: 9rem;
}
@media screen and (max-width: 480px) {
  .phone-number {
    justify-content: center;
  }
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  fill: #fff;
  transition: 0.2s;
}

.footer .phone-number__icon-elem {
  fill: #365a49;
}

.phone-number__text {
  margin-left: 2%;
  flex-wrap: nowrap;
}

.hamburger {
  width: 24px;
  height: 24px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  transition: all 0.4s;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .hamburger--menu-active {
    z-index: 1001;
    transition: all 0.4s;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 8px;
  transition: all 0.4s;
}

@media screen and (max-width: 768px) {
  .hamburger__plank--menu-active {
    transition: all 0.4s;
  }
  .hamburger__plank--menu-active:nth-child(1) {
    opacity: 0;
  }
  .hamburger__plank--menu-active:nth-child(2) {
    transform: rotate(45deg);
  }
  .hamburger__plank--menu-active:nth-child(3) {
    transform: rotate(-45deg) translateY(-7px) translateX(7px);
  }
}

.features {
  display: flex;
}

.features__item {
  margin-right: 5.7%;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.1666666667rem;
}

.feature__icon {
  min-width: 2.5rem;
  margin-right: 6%;
}

.feature__icon-img {
  width: 2.5rem;
  height: 2.5rem;
  fill: #c6f7ff;
}

.btn {
  font-size: 1.0555555556rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.1111111111rem 1.9444444444rem;
  border-radius: 30px;
  line-height: 1;
  display: inline-block;
  border: none;
}

.btn--theme--white {
  background: #fff;
  color: #365a49;
}
.btn--theme--white:hover {
  color: #fff;
  background: #365a49;
}

.btn--theme--green {
  background: #365a49;
  color: #fff;
}
.btn--theme--green:hover {
  color: #365a49;
  background: #fff;
}

.btn--hover--darkgreen:hover {
  color: #fff;
  background: #2e4e3f;
}

.btn--theme--transparent {
  color: #000;
  background: transparent;
  text-transform: none;
  font-weight: 400;
}
.btn--theme--transparent:hover {
  color: #365a49;
}

@media screen and (max-width: 768px) {
  .hero .btn {
    font-weight: 400;
  }
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section--font--color--green {
  color: #365a49;
}
.section--font--color--green .section__title {
  color: inherit;
  margin-bottom: 4%;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.headline {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .headline {
    margin-bottom: 13%;
  }
}
@media screen and (max-width: 480px) {
  .headline {
    margin-bottom: 0;
  }
}

.headline__title {
  margin-bottom: 0;
}
@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 1.3333333333rem;
  }
}

.headline__subtitle {
  padding: 0 13.3333333333rem;
  margin-bottom: 5%;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    padding: 0 8.6111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0;
    font-size: 1rem;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
    margin-bottom: -10%;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    display: flex;
    padding: 0;
    margin-bottom: 4%;
  }
}
.benefits__item::before {
  content: url("../images/separator.png");
  position: absolute;
  top: 20%;
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    content: "";
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    text-align: left;
    margin-bottom: 10%;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background-color: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__image {
  margin-bottom: 7%;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 4%;
  }
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #2e2e2d;
}

.benefit__text h3 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5%;
}
@media screen and (max-width: 480px) {
  .benefit__text h3 {
    font-size: 1.2222222222rem;
  }
}

.benefit__text p {
  font-weight: 300;
}
@media screen and (max-width: 480px) {
  .benefit__text p {
    font-size: 1rem;
  }
}

.benefits-section {
  position: relative;
  background: url("../images/side-leaf.png") left top 57% no-repeat;
}
@media screen and (max-width: 768px) {
  .benefits-section {
    background-position: left top 24%;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section::before {
  content: url("../images/raspberry.png");
  position: absolute;
  top: 80.5%;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  .benefits-section::before {
    display: none;
  }
}

.reviews__display {
  margin-bottom: 22px;
  background: #f8faf9;
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: 1.3888888889rem 1.1111111111rem 0.5555555556rem;
  }
}
.reviews__display::before {
  position: absolute;
  content: url("../images/rev-raspberry.png");
  right: 0;
  top: 0;
  z-index: 0;
}
.reviews__display::after {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -19%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .reviews__display::after {
    top: -15%;
  }
}

.reviews__display-inner {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.3333333333rem;
    height: 7.3333333333rem;
    margin-bottom: 1.3333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__avatar {
    z-index: 1;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 2%;
  padding: 0.4444444444rem 0;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .reviews__content {
    padding: 0;
  }
}

.reviews__content-list {
  margin-left: 0;
  padding: 0.4444444444rem 0;
  position: relative;
  min-height: 19.1666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__content-list {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .reviews__content-list {
    padding: 0;
  }
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 1.0555555556rem;
  padding-right: 4.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    padding-right: 0;
    margin-bottom: 0.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__title {
    font-size: 1.2222222222rem;
    min-height: 3.3333333333rem;
  }
}

.reviews__text {
  line-height: 1.23;
  padding-right: 6.4444444444rem;
  margin-bottom: 4.5%;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    padding-right: 0;
    margin-bottom: 2.5%;
    min-height: 5rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__text {
    min-height: 9.4444444444rem;
  }
}

.reviews__autor {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__content-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

.reviews__content-item.active {
  position: static;
  opacity: 1;
  transition: all 1s;
  pointer-events: unset;
}

@media screen and (max-width: 768px) {
  .reviews__main-title {
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 480px) {
  .reviews__main-title {
    margin-bottom: 3%;
    font-size: 1.3333333333rem;
  }
}

.reviews-section {
  position: relative;
  background: url("../images/rev-right-berryes.png") right 2% top 2% no-repeat;
}
.reviews-section:before {
  content: url("../images/rev-left-leaf.png");
  position: absolute;
  top: 80%;
  left: 0;
}

.interactive-avatar {
  height: 4.4444444444rem;
  width: 4.4444444444rem;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar:hover {
  border-color: #365A49;
}

.interactive-avatar.active {
  border-color: #365A49;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-section {
  background: url("../images/bgd-order.jpg") no-repeat;
  background-size: cover;
}
.order-section::before {
  content: url("../images/order-leaf.png");
  position: absolute;
  top: 82%;
  right: 1%;
}
@media screen and (max-width: 768px) {
  .order-section::before {
    display: none;
  }
}
.order-section::after {
  content: url("../images/order-berry.png");
  position: absolute;
  top: 84%;
  left: 3%;
}
@media screen and (max-width: 768px) {
  .order-section::after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .order__title {
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 768px) {
  .order__title {
    margin-bottom: 0;
    font-size: 1.3333333333rem;
  }
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 2%;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 2%;
}

.form__block {
  flex: 1;
  margin-right: 4.5%;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  border: none;
  padding: 1rem 0.5rem;
  border: solid 3px transparent;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.3333333333rem 0.6111111111rem;
  }
}
.form__input.input-error {
  border-color: #ff2828;
}

@media screen and (max-width: 768px) {
  .form__title {
    margin-bottom: 2%;
  }
}

.form__input--textarea {
  height: 10rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.4444444444rem;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1%;
}
@media screen and (max-width: 768px) {
  .form__controls {
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__controls + .form__controls {
  margin-bottom: 9%;
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__controls + .form__controls {
    margin-bottom: 8%;
  }
}

@media screen and (max-width: 768px) {
  .form__btns {
    text-align: center;
  }
}

/* Убираю стрелочки которые характерны для input type="number"*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 4.6%;
}
@media screen and (max-width: 768px) {
  .radio {
    margin-right: 6.1%;
  }
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 1%;
  }
}

.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  border-radius: 0;
  background: url("../icons/checkmark.svg") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background-color: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  padding-top: 0.1666666667rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 31%;
}

.fixed-menu__item--active .fixed-menu__link {
  border-color: #344acc;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  height: 0.3333333333rem;
  width: 0.3333333333rem;
  border-radius: 50%;
  background: #344acc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contacts-section {
  position: relative;
}
@media screen and (max-width: 480px) {
  .contacts-section {
    min-height: 0;
  }
}

.contacts__map img {
  position: relative;
  width: 100%;
  height: 100vh;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 5.1666666667rem;
  left: 0;
  bottom: 0;
  background-color: #fff;
  padding: 0.9444444444rem 7.8333333333rem 0.5555555556rem 4.3888888889rem;
}

address {
  font-size: 1.1666666667rem;
  font-style: normal;
  font-weight: 400;
}
@media screen and (max-width: 480px) {
  address {
    margin-bottom: 3%;
  }
}

.footer .phone-number__text {
  color: #365a49;
  font-size: 1.1666666667rem;
}

@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
    padding: 1.3333333333rem 0 1.6666666667rem;
    text-align: center;
    min-height: 8.5rem;
  }
}

@media screen and (max-width: 480px) {
  .footer__col:last-child {
    margin-right: 13%;
    margin-top: 1%;
  }
}

.footer-wrapper {
  position: absolute;
  width: 100%;
  min-height: 5.1666666667rem;
  bottom: 0;
  background-color: #fff;
}

.social {
  display: flex;
}

.social__item {
  display: flex;
  margin-right: 27%;
}

.social__item_icon-vk {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  transition: 0.3s;
  opacity: 0.3;
  fill: #000;
}

.social__item_icon-vk:hover {
  opacity: 1;
}

.social__item_icon-facebook {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  transition: 0.3s;
  opacity: 0.3;
}

.social__item_icon-facebook:hover {
  opacity: 1;
}

.social__item_icon-insta {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  transition: 0.3s;
  opacity: 0.3;
}

.social__item_icon-insta:hover {
  opacity: 1;
}

.social__item_icon-twitter {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  transition: 0.3s;
  opacity: 0.3;
}

.social__item_icon-twitter:hover {
  opacity: 1;
}

.overlay {
  z-index: -10;
}
@media screen and (max-width: 768px) {
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333537;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0.99;
    transition: all 0.4s;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .logo--disabled {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .logo--disabled {
    display: none;
  }
}

.sliders-section {
  position: relative;
  background-color: #f8faf9;
}
.sliders-section::before {
  content: url("../images/sliders-leafs-berryes.png");
  position: absolute;
  top: 74%;
  right: 0;
}

.sliders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.slider__list {
  display: flex;
  position: relative;
  right: 0;
  transition: all 0.5s;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  .slider__item {
    max-width: 87vmin;
  }
}
@media screen and (max-width: 480px) {
  .slider__item {
    flex: 0 0 88%;
    max-width: 84vmin;
    margin-right: 2%;
  }
}

.slider {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  max-width: 52.2222222222rem;
}
@media screen and (max-width: 768px) {
  .slider {
    flex-direction: column;
  }
}

.content__main-image {
  max-height: 23.6111111111rem;
}

.slider__content-column {
  display: flex;
}

.slider__content-column:first-child {
  margin-right: 1%;
}

.slider__content-column:last-child {
  max-width: 19.8888888889rem;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .slider__content-column:last-child {
    max-width: 30.2777777778rem;
    text-align: center;
    flex: 1;
  }
}

.slider__composition {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: #86c3d7;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 8%;
  transition: 0.4s;
}
.slider__composition:hover {
  transition: 0.4s;
  background-color: #60aacc;
}

.slider__subtitle {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 3%;
}
@media screen and (max-width: 768px) {
  .slider__subtitle {
    font-size: 4.4vmin;
  }
}
@media screen and (max-width: 480px) {
  .slider__subtitle {
    font-size: 5vmin;
  }
}

.slider__content-subrow {
  font-weight: 400;
  color: #666;
  display: flex;
  margin-bottom: 9%;
}
@media screen and (max-width: 768px) {
  .slider__content-subrow:first-child {
    font-size: 2.9vmin;
  }
}
@media screen and (max-width: 480px) {
  .slider__content-subrow:first-child {
    font-size: 4vmin;
  }
}
@media screen and (max-width: 768px) {
  .slider__content-subrow {
    margin-bottom: 7%;
  }
}
.slider__content-subrow:last-child {
  margin-bottom: 0;
  display: flex;
}
@media screen and (max-width: 768px) {
  .slider__content-subrow:last-child {
    max-width: 18.0555555556rem;
    margin: auto;
  }
}
.slider__content-subrow:nth-child(2) {
  max-width: 18.0555555556rem;
  margin-left: 0;
  margin-right: auto;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .slider__content-subrow:nth-child(2) {
    margin-left: 30%;
    margin-right: auto;
  }
}
@media screen and (max-width: 480px) {
  .slider__content-subrow:nth-child(2) {
    margin-left: 27%;
  }
}
.slider__content-subrow p {
  min-height: 6.1111111111rem;
}

.slider__price {
  color: #151515;
  font-size: 3.3333333333rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 0.8;
  flex: 1;
  padding-left: 0.2rem;
}

.slider__price span {
  color: #151515;
  font-size: 2.3888888889rem;
  font-weight: 300;
}

.slider__btn {
  flex: 1;
}

.slider__calorific {
  flex: 1;
}

.slider__calorific span, .slider__weight span {
  font-weight: 700;
  color: #000;
}

.slider__weight {
  flex: 1;
}

.sliders__arrow-left {
  margin-right: 1%;
  width: 28px;
}

.sliders__arrow-right {
  margin-left: 1%;
  width: 28px;
}

.slider__content-row:first-child {
  position: relative;
  min-width: 5rem;
}
@media screen and (max-width: 768px) {
  .slider__content-row:first-child {
    display: none;
  }
}

.slider__dropdown-menu {
  position: absolute;
  top: 0;
  left: 5rem;
  width: 15rem;
  height: 18.3333333333rem;
  background-color: #fff;
  opacity: 0.9;
  padding: 1.3888888889rem 1.1111111111rem 1.3888888889rem 1.6666666667rem;
  border-radius: 4px;
  opacity: 0;
  z-index: -1;
}

.slider__dropdown-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}
.slider__dropdown-item:last-child {
  margin-bottom: 0;
}

.dropdown-text {
  min-width: 6.6666666667rem;
  align-self: center;
  color: #363636;
}

.dropdown-weight {
  display: flex;
  color: #373636;
  z-index: 1;
  align-self: center;
}

.slider__composition:hover .slider__dropdown-menu {
  opacity: 0.95;
  transition: all 0.4s;
  z-index: 1;
}

.slider__composition-icon {
  width: 2.7777777778rem;
  height: 2.7777777778rem;
}

.dropdown-icon {
  width: 1.9444444444rem;
  height: 1.9444444444rem;
}

.slider-conteainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.team-section {
  position: relative;
  background-color: #fff;
}
.team-section::before {
  content: url("../images/berry-team-section.webp");
  position: absolute;
  top: 94%;
  left: 2%;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .team-section::before {
    top: 90%;
  }
}
@media screen and (max-width: 480px) {
  .team-section::before {
    top: 89%;
  }
}

.team-container {
  margin-bottom: 26%;
}

.team {
  display: flex;
  justify-content: space-between;
}

.team__title {
  color: #000;
  font-size: 1.1666666667rem;
  font-weight: 700;
  margin-bottom: 5%;
  display: inline-flex;
  align-items: center;
  padding: 0;
  position: relative;
}
.team__title::after {
  content: url("../images/arrow-show-info.png");
  position: absolute;
  transform: rotate(0deg);
  transition: all 0.3s;
  top: -4%;
  left: 102%;
}
@media screen and (max-width: 768px) {
  .team__title {
    margin-bottom: 2%;
  }
}
.team__title:active {
  outline: none;
}
.team__title:focus {
  outline: none;
}

.team__main-title {
  margin-bottom: 5%;
}
@media screen and (max-width: 480px) {
  .team__main-title {
    font-size: 10vmin;
    margin-bottom: 2%;
  }
}

.team__member {
  max-height: 16rem;
  margin-bottom: 8%;
}
@media screen and (max-width: 768px) {
  .team__member {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }
}

.team__content-block p {
  margin: 0 auto;
  max-width: 13.8888888889rem;
}

.team__item {
  flex: 1;
  margin-right: 2%;
  text-align: center;
}
.team__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .team__item {
    margin-right: 0;
    justify-content: center;
  }
}

.team__content-block span {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
}

.team--version--desktop {
  position: absolute;
  top: 100%;
}

.team__content {
  overflow: hidden;
  height: 0;
  transition: height 0.3s;
}
@media screen and (max-width: 768px) {
  .team__content {
    margin-bottom: 1%;
  }
}

.team--version--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}

.team__item:first-child {
  display: none;
}

.team__item + .active .team__title::after {
  transform: translate(0, 6px) rotate(180deg);
  transition: all 0.3s;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  display: none;
}
.modal.fancybox-content {
  display: flex !important;
  position: absolute;
}
.modal.error-modal .modal__content {
  color: red;
}

button.fancybox-button.fancybox-close-small {
  display: none;
}

.modal__container {
  margin: auto;
  background: #fff;
  padding: 1.9444444444rem 3.3333333333rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content {
  margin-bottom: 7%;
  color: #000;
}

.products-menu-section {
  background: url(../images/menu-bg/menu-bg-main.webp) center center/cover no-repeat;
  background-color: black;
  position: relative;
  color: #fff;
}

.products-menu {
  position: relative;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  justify-content: flex-end;
}

.products-menu__item {
  display: flex;
}

.products-menu__title {
  position: relative;
  width: 5.5555555556rem;
  transition: all 0.7s;
}
@media screen and (max-width: 480px) {
  .products-menu__title {
    width: 5rem;
  }
}

.products-menu__content {
  background: rgba(51, 53, 55, 0.93);
  width: 0;
  overflow: hidden;
  position: relative;
  transition: width 0.7s;
}

.products-menu__container {
  padding: 1.3888888889rem 6.9444444444rem 2.7777777778rem 1.6666666667rem;
}
@media screen and (max-width: 768px) {
  .products-menu__container {
    padding: 3.6111111111rem 3.6111111111rem 1.6666666667rem 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .products-menu__container {
    padding: 3.6111111111rem 1.3888888889rem 1.6666666667rem 1.1111111111rem;
  }
}

.products-menu__content-text {
  font-size: 0.8888888889rem;
}

.products-menu__image {
  height: 100vh;
  width: auto;
}

.products-menu-section__title {
  position: absolute;
  font-size: 2.6666666667rem;
  font-weight: 700;
  text-transform: uppercase;
  top: 9%;
  left: 5%;
}
@media screen and (max-width: 768px) {
  .products-menu-section__title {
    top: 10%;
    left: 6%;
  }
}
@media screen and (max-width: 480px) {
  .products-menu-section__title {
    left: 2%;
    font-size: 7vmin;
  }
}

.products-menu__text {
  transform: rotate(-90deg) translateX(365px) translateY(-254px);
  line-height: 1;
  width: 600px;
  font-size: 48px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .products-menu__text {
    transform: rotate(-90deg) translateX(353px) translateY(-254px);
  }
}
@media screen and (max-width: 480px) {
  .products-menu__text {
    font-size: 2rem;
    transform: rotate(-90deg) translateX(345px) translateY(-261px);
  }
}

.products-menu__close {
  padding: 0;
  margin: 0;
}

.products-menu__close-icon {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 1.3888888889rem;
  right: 1.6666666667rem;
  transition: 0.3s;
}
.products-menu__close-icon:hover {
  fill-opacity: 0.5;
}