html, body {
  height: 100%;
}

body {
  font-size: $baseFontSize;
  line-height: 1.42;
  font-family: "Alegreya Sans", "Open Sans", Arial, Helvetica, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: $containerWidth + 20px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: $containerWidth;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

footer {
  position: relative;
  width: 100%;
}