.benefits-section {
  position: relative;
  background: url("../images/side-leaf.png") left top 57% no-repeat;
  
  @include tablets {
    background-position: left top 24%;
  }

  @include phones {
    background: none;
  }

  &::before {
    content: url("../images/raspberry.png");
    position: absolute;
    top: 80.5%;
    left: 0;
    z-index: 1;

    @include phones {
      display: none;
    }
  }

  
}