.benefits-section {
  position: relative;
  background: url(../../images/side-leaf.png) left top 57% no-repeat;
  // временный цвет для визуального разделения секции
  // background-color: lightskyblue;

  &:before {
    content: url(../../images/raspberry.png);
    position: absolute;
    bottom: -70px;
    left: 0;
  }
}