.btn {
  font-size: rem(19px);
  font-weight: 700;
  text-transform: uppercase;
  padding: rem(20px) rem(35px);
  border-radius: 30px;
  line-height: 1;
  display: inline-block;
  border: none;
}

.btn--theme--white {
  background: $colw;
  color: $darkGreen;
  
  &:hover {
    color: $colw;
    background: $darkGreen;
  }
}

.btn--theme--green {
  background: $darkGreen;
  color: $colw;
  
  &:hover {
    color: $darkGreen;
    background: $colw;
  }
}

.btn--theme--transparent {
  color: $colb;
  background: transparent;
  text-transform:none;
  font-weight: 400;

  &:hover {
    color: $darkGreen;
  }
}

.hero .btn {
  @include tablets {
    font-weight: 400;
  }
}