.contacts-section {
  position: relative;
  
  @include phones {
    min-height: 0;
  }
}

// .contacts__map img {
//   position: relative;
//   width: 100%;
//   height: 100vh;
// }

#map {
  // position: relative;
  width: 100%;
  height: 100vh;
}