.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: $z-fixed-menu;
}

.fixed-menu__item {
  margin-bottom: 31%;
}

.fixed-menu__item--active {
  .fixed-menu__link {
    border-color: rgb(52, 74, 204);
  }
}

.fixed-menu__link {
  width: 0.89rem;
  height: 0.89rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
  
  &::before {
    content: "";
    display: block;
    height: 0.37rem;
    width: 0.37rem;
    border-radius: 50%;
    background: rgb(52, 74, 204);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}