.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: $z-fixed-menu;
}

.fixed-menu {
  @include tablets {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 31%;
}

.fixed-menu__item--active {
  .fixed-menu__link {
    border-color: rgb(255, 255, 255);
  }
}

.fixed-menu__link {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
  
  &::before {
    content: "";
    display: block;
    height: rem(6px);
    width: rem(6px);
    border-radius: 50%;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.fixed-menu--color-black {
  .fixed-menu__link {
    &::before {
      background: rgb(0, 0, 0);
    }
  }
}

.fixed-menu--color-black.fixed-menu__item--active {
  .fixed-menu__link {
    border-color: rgb(0, 0, 0);
  }
}