.form {
  display: flex;
  
  @include tablets {
    flex-direction: column;
    padding: 0 18%;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 2%;

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 2%;
}

.form__block {
  flex:1;
  margin-right: 4.5%;

  &:last-child{
    margin-right: 0;
  }
}

.form__input {
  font-family: "Open Sans";
  font-size: rem(18px);
  font-weight: 400;
  width: 100%;
  border: none;
  padding: rem(18px) rem(9px);
  border: solid 3px transparent;

  &:focus {
    border-color: #dee2bd;
    outline: none;
  }

  @include tablets {
    padding: rem(6px) rem(11px);
  }

  &.input-error {
    border-color: rgb(255, 40, 40);
  }
}

.form__title {
  @include tablets {
    margin-bottom: 2%;
  }
}

.form__input--textarea {
  height: rem(180px);
  resize: none;

  @include tablets {
    height: rem(80px);
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1%;

  @include tablets {
    margin-bottom: 3%;
  }

  @include phones {
    justify-content: center;
  }
}

.form__controls + .form__controls {
  margin-bottom: 9%;
  margin-right: 0;

  @include tablets {
    margin-bottom: 8%;
  }
}

.form__btns {
  @include tablets {
    text-align: center;
  }
}

/* Убираю стрелочки которые характерны для input type="number"*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}