.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 2%;

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 3%;
}

.form__block {
  flex:1;
  // margin-right: 20px;
  margin-right: 4.5%;

  &:last-child{
    margin-right: 0;
  }
}

.form__input {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  border: none;
  padding: 1rem 0.6rem;
  border: solid 3px transparent;

  &:focus {
    border-color: #dee2bd;
    outline: none;
  }
}

.form__input--textarea {
  height: 10rem;
  resize: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1%;
}

.form__controls + .form__controls {
  margin-bottom: 9%;
  margin-right: 0;
}

/* Убираю стрелочки которые характерны для input type="number"*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}