.headline {
  text-align: center;

  @include tablets {
    margin-bottom: 13%;
  }
}

.headline__title {
  margin-bottom: 0;
}

.headline__subtitle {
  padding: 0 rem(240px);
  margin-bottom: 5%;

  @include tablets {
    padding: 0 rem(155px);
  }

  @include phones {
    padding: 0 rem(45px);
    font-size: rem(18px);
  }
}
