.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include tablets {
    padding: 0 1rem;
  }
}

.phone-number.header__phone-number {
  transition: 0.2s;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
  
  @include tablets {
    display: none;
  }
}

.phone-number.header__phone-number:hover {
  opacity: 1;
  
  .phone-number__icon-elem {
    fill: #000;
  }
}