.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 27px;
    
    &:last-child {
      margin-right: 0;
    }
  }
}

.phone-number {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: 12px;
  height: 11px;
  margin-right: 6px;
}