.hero {
  background: url("../images/pattern.png") right bottom no-repeat;
  background-color: #61C4D9;
  height: 100vh;
  min-height: 650px;
  color: $colw;
  padding: 1.33rem 0 2.67rem; 
  position: relative;

  &::before {
    content: url("../images/left-leaf.png");
    position: absolute;
    top: 95%;
    left: 2%;
  }

  &::after {
    content: url("../images/berries-and-leafs.png");
    position: absolute;
    top: 77%;
    right: 0;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero__title-section {
  width: 79%;
}

.hero__main-title {
  font-size: 2.67rem;
  line-height: 1.22;
  font-weight: 700;
  margin-bottom: 1%;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 1.17rem;
  margin-bottom: 1.53rem;
  line-height: 1.3;
}

.hero__columns {
  display: flex;
}

.hero__col {
  flex: 1;
}

.hero__col + .hero__col img {
  min-width: 27.94rem;
  height: 29.06rem;
  margin-top: -14%;
}