.hero {
  background: url("./../../images/pattern.png") right bottom no-repeat;
  background-color: #61C4D9;
  height: 100vh;
  min-height: 650px;
  color: $colw;
  padding: 24px 0 45px; 
  position: relative;

  &::before {
    content: url("./../../images/left-leaf.png");
    position: absolute;
    bottom: -60px;
    left: 2%;
  }

  &::after {
    content: url("./../../images/berries-and-leafs.png");
    position: absolute;
    bottom: -55px;
    right: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background:  url("./../../images/bars.png") right center / 50% auto no-repeat;
  }

  &__title-section {
    width: 46%;
  }

  &__main-title {
    font-size: 48px;
    line-height: 1.22;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &__title-desc{
    font-size: 21px;
    margin-bottom: 28px;
    padding-right: 14%;
  }
}