.order-section {
  background: url("../images/bgd-order.jpg") no-repeat;
  background-size: cover;

  &::before {
    content: url("../images/order-leaf.png");
    position: absolute;
    top: 75%;
    right: 1%;

    @include tablets {
      display: none;
    }
  }

  &::after {
    content: url("../images/order-berry.png");
    position: absolute;
    top: 76%;
    left: 3%;

    @include tablets {
      display: none;
    }
  }
}

.order__title {
  @include tablets {
    margin-bottom: 3%;
  }
}