.order-section {
  background: url("../images/bgd-order.jpg") no-repeat;
  background-size: cover;

  &::before {
    content: url("../images/order-leaf.png");
    position: absolute;
    bottom: 2%;
    right: 1%;
  }

  &::after {
    content: url("../images/order-berry.png");
    position: absolute;
    bottom: 2%;
    left: 1%;
  }
}