.phone-number {
  font-size: rem(24px);
  display: flex;
  align-items: center;
  min-width: 9rem;

  @include phones {
    justify-content: center;
  }
}

.phone-number__icon-elem {
  width: rem(12px);
  height: rem(12px);
  fill: #fff;
  transition: .2s;
}

.footer .phone-number__icon-elem {
  fill:  #365a49;  
}


.phone-number__text {
  margin-left: 2%;
  flex-wrap: nowrap;
}

