.player-section {
  position: relative;
  background: url("../images/yt-player-left-leaf.png") left 11% top 76% no-repeat;
  background-color:  #f8faf9;
    @include tablets {
      background: url("../images/yt-player-left-leaf.png") left 0 top 62% no-repeat;
    }

  &::before {
    content: url("../images/yt-player-right-leaf.png");
    position: absolute;
    top: 29%;
    right: 16%;
    @include tablets {
      top: 32%;
      right: 2%;
    }
  }

  &::after {
    content: url("../images/yt-player-right-bottom-img.webp");
    position: absolute;
    top: 85%;
    right: 0%;
    z-index: 1;
  }
}

.player-section__container {
  @include phones {
    padding: 0 20px;
  }
}