.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 4.6%;
}

.radio--checkbox .radio__visible{
  border-radius: 0;

  &::before {
    border-radius: 0;
    background: url("../icons/checkmark.svg") center center no-repeat;
  }
}

.radio__elem {
  display: none;

  &:checked ~.radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
  width: 1.44rem;
  height: 1.44rem;
  position: relative;
  border-radius: 50%;
  background: $colw;
  margin-right: 10px;

  &:before {
    content: "";
    width: 0.78rem;
    height: 0.78rem;
    background-color: #365a49;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.radio__title {
  padding-top: 0.17rem;
}