.reviews-section {
  position: relative;
  background: url("../images/rev-right-berryes.png") right 2% top 20px no-repeat;
  // временный цвет для визуального разделения секций
  background-color: rgba(144, 238, 144, 0.493);

  &:before {
    content: url("../images/rev-left-leaf.png");
    position: absolute;
    bottom: -160px;
    left: 0;
  }
}