.reviews__display {
  margin-bottom: 22px;
  background: #f8faf9; // вернуть этот цвет #f8faf9
  padding: rem(50px) rem(45px) rem(34px);
  position: relative;
  overflow: hidden;

  @include tablets {
    padding: rem(57px) rem(20px) rem(21px);
  }

  &::before {
    position: absolute;
    content: url("../images/rev-raspberry.png");
    right: 0;
    top: 0;
    z-index: 0;
  }

  &::after {
    content: "";
    display: block;
    width: rem(90px);
    height: rem(90px);
    background: $colw;
    border-radius: 50%;
    position: absolute;
    top: -19%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);

    @include tablets {
      top: -15%;
    }
  }
}

.reviews__display-inner {
  display: flex;
  align-items: center;
  
  @include tablets {
    flex-direction: column;
    text-align: center;
  }
}

.reviews__avatar {
  width: rem(254px);
  height: rem(260px);

  @include tablets {
    width: rem(132px);
    height: rem(132px);
    margin-bottom: rem(24px);
  }

  @include phones {
    z-index: 1;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 2%;
  padding: rem(8px) 0;

  @include tablets {
    margin-left: 0;
  }

  @include phones {
    padding: 0;
  }
}

.reviews__content-list {
  margin-left: 0;
  padding: rem(8px) 0;
  position: relative;
  min-height: rem(345px);

  @include tablets {
    margin-left: 0;
  }

  @include phones {
    padding: 0;
  }
}

.reviews__title {
  font-size: rem(30px);
  font-weight: 700;
  color: $colb;
  margin-bottom: rem(19px);
  padding-right: rem(80px);

  @include tablets {
    padding-right: 0;
    margin-bottom: rem(12px);
  }
  
  @include phones {
    font-size: rem(22px);
  }
}

.reviews__text {
  line-height: 1.23;
  padding-right: rem(116px);
  margin-bottom: 4.5%;
  
  @include tablets {
    padding-right: 0;
    margin-bottom: 2.5%;
  }
}

.reviews__autor {
  font-size: rem(18px);
  font-weight: 500;
  color: $colb;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__content-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  // transition: all .3s;
  opacity: 0;
}

.reviews__content-item.active {
  position: static;
  opacity: 1;
  transition: all 1s;
  pointer-events: unset;
}

.reviews__main-title {
  @include tablets {
    margin-bottom: 3%;
  }

  @include phones {
    margin-bottom: 3%;
    font-size: rem(24px);
  }
}