.reviews-section {
  position: relative;
  background: url("../images/rev-right-berryes.png") right 2% top 2% no-repeat;

  &:before {
    content: url("../images/rev-left-leaf.png");
    position: absolute;
    top: 80%;
    left: 0;
  }
}