.sliders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.slider__list {
  display: flex;
  position: relative;
  right: 0;
  transition: all .5s;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  transition: all .5s;

  @include tablets {
    max-width: 87vmin;
  }

  @include phones {
    flex: 0 0 88%;
    max-width: 84vmin;
    margin-right: 2%;
  }
}

.slider {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  max-width: rem(940px);

  @include tablets {
    flex-direction: column;
  }
}

.content__main-image {
  max-height: rem(425px);
}

.slider__content-column {
  display: flex;
}

.slider__content-column:first-child {
  margin-right: 1%;
}

.slider__content-column:last-child {
  max-width: rem(350px);
  flex-direction: column; 

  @include tablets {
    max-width: rem(545px);
    text-align: center;
    flex: 1;
  }
}

.slider__composition {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: rem(90px);
  height: rem(90px);
  background-color: #86c3d7;
  color: $colw;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 8%;
  transition: .4s;

  &:hover {
    transition: .4s;
    background-color: #60aacc;
  }
}

.slider__subtitle {
  color: #000;
  font-size: rem(36px);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 3%;

  @include tablets {
    font-size: 4.4vmin;
  }

  @include phones {
    font-size: 5vmin;
  }
}

.slider__content-subrow {
  font-weight: 400;
  color: #666;
  display: flex;
  margin-bottom: 9%;

  &:first-child {
    @include tablets {
      font-size: 2.9vmin;
    }

    @include phones {
      font-size: 4vmin;
    }
  }

  @include tablets {
    margin-bottom: 7%;
  }

  &:last-child {
    margin-bottom: 0;
    display: flex;

    @include tablets {
      max-width: rem(325px);
      margin: auto;
    }
  }

  &:nth-child(2) {
    max-width: rem(325px);
    margin-left: 0;
    margin-right: auto;
    text-align: left;

    @include tablets {
      margin-left: 30%;
      margin-right: auto;
    }

    @include phones {
      margin-left: 27%;
    }
  }
}

.slider__price {
  color: #151515;
  font-size: rem(60px);
  font-weight: 300;
  text-transform: uppercase;
  line-height: .8;
  flex: 1;
  padding-left: 0.2rem;
}

.slider__price span{
  color: #151515;
  font-size: rem(43px);
  font-weight: 300;
}

.slider__btn {
  flex: 1;
}

.slider__calorific {
  flex: 1;
}

.slider__calorific span, .slider__weight span {
  font-weight: 700;
  color: #000;
}

.slider__weight {
  flex: 1;
}

.sliders__arrow-left {
  margin-right: 1%;
  width: 28px;
}

.sliders__arrow-right {
  margin-left: 1%;
  width: 28px;
}

.slider__content-row:first-child {
  position: relative;
  min-width: rem(90px);
  
  @include tablets {
    display: none;
  }
}

.slider__dropdown-menu {
  position: absolute;
  top:0;
  left: rem(90px);
  width: rem(270px);
  height: rem(330px);
  background-color: #fff;
  opacity: 0.9;
  padding: rem(25px) rem(20px) rem(25px) rem(30px);
  border-radius: 4px;
  opacity: 0; 
  z-index: -1; 
}

.slider__dropdown-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;

  &:last-child {
    margin-bottom: 0;
  }
}

.dropdown-text {
  min-width: rem(120px);
  align-self: center;
  color: #363636;
}

.dropdown-weight {
  display: flex;
  color: #373636;
  z-index: 1;
  align-self: center;
}

.slider__composition:hover .slider__dropdown-menu {
  opacity: .95;
  transition: all .4s;
  z-index: 1;
}

.slider__composition-icon {
  width: rem(50px);
  height: rem(50px);
}

.dropdown-icon {
  width: rem(35px);
  height: rem(35px);
}