.social {
  display: flex;
}

.social__item {
  display: flex;
  margin-right: 27%;
}

.social__item_icon-vk .social__link {
  background: url("../icons/vk.svg");
  min-width: 20px;
  min-height: 20px;
  transition: 0.3s;
  opacity: 0.3;
}

.social__item_icon-vk .social__link:hover {
  opacity: 1;
}

.social__item_icon-facebook .social__link {
  background: url("../icons/facebook.svg");
  min-width: 20px;
  min-height: 20px;
  transition: 0.3s;
  opacity: 0.3;
}

.social__item_icon-facebook .social__link:hover {
  opacity: 1;
}

.social__item_icon-insta .social__link {
  background: url("../icons/insta.svg");
  min-width: 20px;
  min-height: 20px;
  transition: 0.3s;
  opacity: 0.3;
}

.social__item_icon-insta .social__link:hover {
  opacity: 1;
}

.social__item_icon-twitter .social__link {
  background: url("../icons/twitter.svg");
  min-width: 20px;
  min-height: 20px;
  transition: 0.3s;
  opacity: 0.3;
}

.social__item_icon-twitter .social__link:hover {
  opacity: 1;
}

